<h1>New Figure</h1>

<form action="/figures" method="post">
  <label for="figure_name">Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br><br>
  <label>Landmarks</label>
  <br>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>">
      <%= landmark.name %>
    </input>
  <% end %>
  <br>
  <p>and/or, create a NEW landmark:</p>
  <label for="new_landmark">name:</label>
  <input type="text" name="landmark[name]" id="new_landmark">
  <br><br>
  <label>Titles</label>
  <br>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>">
      <%= title.name %>
    </input>
  <% end %>
  <br>
  <p>and/or, create a NEW title:</p>
  <label for="new_title">name:</label>
  <input type="text" name="title[name]" id="new_title">

  <input type="submit" value="Create New Figure">
</form>